<div class="left-nav">
    <ul>
        <li>
            <a class="black" href="#/credit-provider/KADSWEF/help">
                <i class="fa fa-keyboard-o "></i>
                {{'label.anchor.keyboardshortcut' | translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/nav/offices">
                <i class="fa fa-compass "></i>
                {{'label.anchor.navigation' | translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/tasks">
                <i class="fa fa-check "></i>
                {{ 'label.anchor.tasks'| translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/entercollectionsheet">
                <i class="fa fa-tasks "></i>
                {{'label.anchor.collectionsheet' | translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/individualcollectionsheet">
                <i class="fa fa-tasks "></i>
                {{'label.anchor.individualcollectionsheet' | translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/freqposting">
                <i class="fa fa-repeat "></i>
                {{'label.anchor.frequentpostings' | translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/journalentry">
                <i class="fa fa-plus "></i>
                {{'label.anchor.addjournalentries' | translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/accounts_closure">
                <i class="fa fa-folder "></i>
                {{'label.anchor.closingentries' | translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/accounting_coa">
                <i class="fa fa-sitemap "></i>
                <span>{{'label.heading.chartofaccounts' | translate}}</span>
            </a>
        </li>
        <li>
            <a class="black" href="#/credit-provider/KADSWEF/notifications">
                <i class="fa fa-bell" ></i>
                <span>{{'label.heading.notification' | translate }}</span>
            </a>
        </li>
        <li>
            <a class="black" href="#/credit-provider/KADSWEF/createclient">
                <i class="fa fa-user "></i> + {{ 'label.anchor.client' |translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/creategroup">
                <i class="fa fa-group "></i> + {{ 'label.anchor.group' |translate}}
            </a>
        </li>

        <li>
            <a class="black" href="#/credit-provider/KADSWEF/createcenter">
                <i class="fa fa-map-marker "></i> + {{'label.anchor.center' | translate}}
            </a>
        </li>

        <li>
            <a class="black" ng-click="helpf()">
                <i class="fa fa-question-circle"></i>
                {{'label.anchor.help' | translate }} &nbsp; <span class="fa fa-external-link"></span>
            </a>
        </li>

    </ul>
</div>