<div id="login-form" data-ng-form="loginForm" data-ng-controller="LoginFormController">
    <div>
        <h4 style="color: #00b050; margin-top: 2em;" class="text-center"><strong>KADSWEF facilitator login page</strong></h4>
    </div>
    <div>
        <input type="text" name="username" placeholder="username" data-ng-model="loginCredentials.username" id="uid">
        <input type="password" name="password" placeholder="password" data-ng-model="loginCredentials.password"
               id="pwd">
    </div>
    <div>
        <button id="loginButton" data-ng-click="login()">{{'label.button.login' | translate}}</button>
    </div>
    <div data-ng-show="authenticationFailed">
        <p>{{authenticationErrorMessage | translate}}</p>
    </div>
    
</div>

