<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/credit-provider/KADSWEF/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.bulkimport' | translate}}</li>
    </ul>
    
    <div class="card">
    <div class="content">
	<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportoffices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-building icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importoffices'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportusers" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-user-plus icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importusers'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportgroup" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-group icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importgroups'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportloanaccounts" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importloanaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportsavingsaccounts" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importsavingsaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportfixeddepositaccounts" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importfdaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportrecurringdeposits" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importrdaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportcoa" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-money icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importcoa'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportshareaccounts" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importshareaccounts'
                    | translate}}</h4>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportemployees" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-android icon-large"></i>&nbsp;&nbsp;{{'label.anchor.employees '
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportclients" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-user icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importclients'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportcenters" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-user icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importcenters'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportloanrepayments" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importloanrepayments'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportsavingsaccountstransactions" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importsavingstransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportfixeddeposittransactions" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importfdtransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportrecurringdepositstransactions" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importrdtransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportjournalentries" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importjournalentries'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/credit-provider/KADSWEF/bulkimportguarantor" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="icon-arrow-right icon-large"></i>&nbsp;&nbsp;{{'label.anchor.importguarantor'
                    | translate}}</h4>
            </a>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>